@import "../../../styles.scss";

input[type="date-picker"] {
  size: 20px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  border: 1px solid $color-light-gray-hover;
  cursor: pointer;
  box-sizing: content-box;
  background: none transparent;
  box-shadow: none;
  outline: none;
  padding: 0;
  width: 100%;
  text-indent: 8px;
}

.date-picker {
  display: flex;

  .button-toggle {
    border-radius: 0 8px 8px 0;
    border: 1px solid $color-light-gray-hover;
    padding: 6px 8px;
    max-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    fa-icon {
      color: $color-black;
    }

    &:hover {
      background-color: $color-light-gray-hover;
    }

    &:disabled {
      fa-icon {
        --icon-color-secondary: #7e7e7e;
      }
    }

    &:disabled:hover {
      background-color: initial;
    }
  }
}

.date-picker-buttons {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $color-light-gray;

  button {
    width: 100%;
    border: none;
    padding: 2px 0;
    background-color: transparent;

    p {
      margin: 0;
    }
  }

  button:hover {
    background-color: $color-light-gray;
  }
}
