@import "../../../styles.scss";

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
}

.buttons-form {
  display: flex;
}
