$color-cinnabar: #e64a39;
$color-orange: #e97439;
$color-yellow: #edd157;
$color-green: #65ed99;
$color-blue: #5f8be9;
$color-violet: #6f1bc6;
$color-white: #ffffff;
$color-light-blue: #e3eefc;
$color-light-gray: #e3e5e6;
$color-light-gray-hover: #c7c8c9;
$color-black: #000000;
$color-light-black: #080808;

$color-default-gray: #757575;

$primary: #5f8be9;
